Вітаю, шановні колеги!

Запрошую долучатися до патрулювання в ніч на {{ start_date | timestamp2date }}. Наразі маємо такий розклад:
{% for shift in schedule %}
👋 {{ shift.time_start | timestamp2time }}—{{ shift.time_end | timestamp2time }}: {% for person in shift.people %}{{ person.name }}{% if person.handler is defined %} ({{ person.handler }}){% endif %}{% endfor %}
{% endfor %}
{% if secondary_group == 0 -%}
Сьогодні збираємося з групою "13-15" біля 13-го корпусу (висока тополя напроти жовтого паркінгу).
{%- else -%}
Сьогодні збираємося з групою "10-12" біля 11-го корпусу (1-й під'їзд).
{%- endif %}
Прошу не забути взяти заздалегідь рацію та бодікам.

Погода протягом цієї ночі, ймовірно, буде приблизно такою:
{% for forecast_piece in weather %}
⛅️ {{ forecast_piece.time_start | timestamp2time }}—{{ forecast_piece.time_end | timestamp2time }}: {{ forecast_piece.airTemperature.sg }}°C, {{ forecast_piece.precipitation.sg }} кг/м²/ч, {{ forecast_piece.cloudCover.sg }}%, {{ forecast_piece.humidity.sg }}%
{%- endfor %}

Гарного вам дня, колеги!